<section class="home">
  <div class="row">
    <div class="span4 offset8">
      <article id="next_school">
        <% if @school -%>
          <h3 class='title'><%= link_to @school.title, program_path %></h3>
          <h3 class='theme'><%= @school.theme %></h3>
          <h3 class='school_when_where'><%= @school.when_and_where %></h3>
        <% else -%>
          <h2>No school registered in database, yet.</h2>
        <% end -%>
        <aside>
          <%= link_to "See the Current Program", "/program", class: "btn btn-info btn-large" if @school %>
          <br />
          <%= link_to "Fill in the Registration Form", "/registration", class: "btn btn-primary btn-large" if @school.active? %>
        </aside>
      </article>
    </div>
  </div>
</section>
